<section class="TodoSection">
    <div class="TodoSectionTitle">
        <p class="TodoSectionTitle-text"><%= section_title %></p>
        <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %> / <%= todos.count %></p>
    </div>
    <ul>
        <% todos.each do |todo| %>
            <li class="TodoItem">
                <label class="TodoItem-container">
                    <input class="TodoItem-checkbox" type="checkbox">
                    <p class="TodoItem-text"><%= todo.todo_text %></p>
                    <% if show_due_date%>
                        <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></p>
                    <%end%>
                    <a href="javascript:void(0)" class="TodoItem-delete">
                        <img src="delete.png"/>
                    </a>
                </label>
            </li>
        <% end %>
    </ul>
</section>